@model List<DoctorAppointmentSystem.Models.UsersViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Users</h2>

<table id="users-table" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Actions</th>
            <th>Deactivate</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.RoleName</td>
            <td><a href="#" class="btn btn-danger btn-sm">Delete</a></td>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@item.Id" checked="@item.IsDeactivated">
                    <label class="custom-control-label" for="@item.Id"></label>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
