@model IEnumerable<DoctorAppointmentSystem.Models.Slot>

@{
    ViewBag.Title = "ListSlots";
}

<h2>ListSlots</h2>

<p>
    @Html.ActionLink("Create New", "CreateSlot", "Doctor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableTill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableTill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
