@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "DoctorDetails";
}

<h2>@Model.DoctorName</h2>
<table class="table table-striped" id="slots-by-doctor">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Available From</th>
            <th scope="col">Available Till</th>
            <th scope="col">Slot Available</th>
            <th scope="col" class="nosort"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var slot in Model.Slots)
            {
                <tr>
                    <th scope="row">@count@{count++;}</th>
                    <td>@slot.AvailableFrom</td>
                    <td>@slot.AvailableTill</td>
                    <td>@(slot.Available ? "Yes": "No")</td>
                    <td>
                        @if (slot.Available)
                        {
                            <button onclick="requestSlot(@slot.Id)" class="btn btn-primary">Request Appointment</button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section scripts{
    <script src="~/Scripts/app.patient.slotsbydoctor.js"></script>
}